body, html {
    box-sizing: content-box;
    background-image: url('/banner/starwarsbanner2.jpeg');
    background-attachment: auto;
    background-size: contain;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    animation: change 30s infinite ease-in-out;
    position: relative;
}

.header img {
    display: block;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    opacity: 0.5;
}

/* Main Container Layout with CSS GRID */

.container {
    margin-top: 1%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, 15rem);
    align-items: center;
    justify-items: space-evenly;
    justify-content: center;
    gap: 0.8rem;
}

.character {
    color: white;
    height: 15rem;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.3rem;
    margin: 0;
    float: left;
}

/* Individual Images */

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 30px;
}

img:hover {
    transform: scale(0.9);
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

/* Buttons */

.btn {
    float: right;
    color: green;
    padding: 0.2em;
}

.btn:hover {
    color: red;
    transform: translate(-5%, -5%);
    cursor: pointer;
    background-color: silver;
}

/* Animation effects for the Page Banner */

@keyframes change {
    0% {
        background-image: url('/banner/starwarsbanner1.jpeg');
    }
    25% {
        background-image: url('/banner/starwarsbanner2.jpeg');
    }
    50% {
        background-image: url('/banner/starwarsbanner3.jpeg');
    }
    75% {
        background-image: url('/banner/starwarsbanner4.jpeg');
    }
    100% {
        background-image: url('/banner/starwarsbanner5.jpeg');
    }
}

div h1 {
    color: green;
    margin: auto;
}

a:link {
    text-decoration: none;
}

div h1:hover {
    color: white;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: black;
    opacity: 0.9;
}

.modal-content {
    background-color:aquamarine;
    width: 30%;
    margin: 20% auto;
    animation-name: open-modal;
    animation-duration: 1s;
    height: 25%;
    z-index: 1;
    font-weight: bold;
}


#closeBtn {
    color: white;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

#closeBtn:hover, #closeBtn:focus {
    color: red;
    cursor: pointer;
}

@keyframes open-modal {
    from { opacity: 0 }
    to { opacity: 1 }
}

#modal-header h3, #modal-body{
    margin: 0;
}

#modal-header {
    background-color: blue;
    padding: 10px;
    color: white;
    
}

#modal-body {
    font-weight: bold;
    padding: 15px;
}

h3.title {
    color: white;
}

/* FOOTER */

#footer{
    position: relative;
    transform: translateY(5rem);
}

#myName {
    font-size: 20px;
    position: absolute;
}

#name {
    color:seashell;
}



